.check-button {
            background-color: #296981;
            border: none;
            color: #ffffff;
            padding: 10px 45px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;
            font-family: 'Arial', sans-serif;
            font-weight: bold;
            margin-top: 28px;
            margin-left: 145px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        }

.check-button:hover {
    background-color: #114052;
}

.check-button:active {
    background-color: #1f6481;
}

    .search-input {
        cursor: pointer;
        padding: 10px 15px;
        height: 100%;
        position: relative;
        display: grid;
    }

    .search-input p {
        font-family: 'Arial', sans-serif;
        margin-left: 3px;
        font-size: 18px;
        color: #333;
        margin-left:170px;
        margin-bottom: 10px;
    }

    .search-input input[type="date"] {
        appearance: none;
        background-color: #f5f5f5;
        border: none;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        color: #333;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        outline: none;
        transition: background-color 0.3s, box-shadow 0.3s;
        width: 100%;
        margin-bottom: 0px;
    }

    .input-field{
        margin-left:30px;
    }

    .booking-menu a:hover {
    text-decoration: none;
    }

    .booking-menu {
    margin-top: 5px;
    }

    #reservation_hero_section{
        width:100%;
        min-height: 400px;
        background:linear-gradient( rgba(0,0,0.5), 
      rgba(0,0,0,0.5)),url(/hotel_online/static/src/images/hotel.jpg);
        background-size: cover;
        background-position: center;
        justify-content: center;
        align-items: center;
    }

    #reservation_hero_section .banner_cnt{
        margin: 0 auto;
        margin-top: 150px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #reservation_hero_section .banner_cnt h2{
        width:60%;
        margin: 50px auto;
        background: none;
        color:#fff;
        padding: 10px;
        font-size:40px;
        font-weight:700;
        border:none;
        margin-bottom: 0px;
    }
    #reservation_hero_section .banner_cnt p{
        width:80%;
        margin: 0px auto;
        background: none;
        color:#fff;
        padding: 10px;
        font-size:15px;
        font-weight:500;
    }
    .hotel_form{
        padding-left: 25px;
        padding-right: 25px;
        margin-top: -61px;
        z-index: -1;
        opacity: 99%;
    }
    
    .hotel_select_span{
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        color: #333;
        margin-left:160px;
        margin-bottom: 10px;
    }
    
    
